<header>

	<div class="top-info">
		desiree-deschenes@live.ca
		<div class="head-icon pad-b">
				<a href="https://www.facebook.com/deschenesdesign?ref=aymt_homepage_panel"><img class="contactbtns" src="img/FB-f-Logo__blue_50.png" alt="Link to my Facebook Page"></a>
				|<a href="https://twitter.com/deschenesdesign"><img class="contactbtns" src="img/download.png" alt="Link to my Twitter Page"></a>
				|<a href="https://www.behance.net/DesireeDeschenes"><img class="contactbtns" src="img/be-download.png" alt="Link to my Behance Page"></a>
		</div>
	</div>

</header>
