<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Desiree Designs | Ottawa Graphic Design</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Desiree is a local Ottawa designer with killer graphic and web design skills and a passion for modern simplicity.">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<link href="{{site.baseurl}}/js/main.js" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>

  	<div class="top-info">
  		desiree-deschenes@live.ca
  		<div class="head-icon pad-b">
  				<a href="https://www.facebook.com/deschenesdesign?ref=aymt_homepage_panel"><img class="contactbtns" src="img/FB-f-Logo__blue_50.png" alt="Link to my Facebook Page"></a>
  				|<a href="https://twitter.com/deschenesdesign"><img class="contactbtns" src="img/download.png" alt="Link to my Twitter Page"></a>
  				|<a href="https://www.behance.net/DesireeDeschenes"><img class="contactbtns" src="img/be-download.png" alt="Link to my Behance Page"></a>
  		</div>
  	</div>

  </header>

  <div class="grid">
  	<nav id="nav" class="unit gutter-1-2 xs-1 s-1 m-2-3 l-2-3 pad-t-1-2 pad-b-1-2 text-center" role="navigation">
  		<input type="checkbox" class="nav-check" id="nav-check">
  		<label class="nav-label" for="nav-check">
  			<img src="{{site.baseurl}}/img/nav-icon.png" alt="open navigation">
  		</label>

  		<ul class="nav push-0 list-group navi unit-push-m-1-3">
  			<li><a class="island-1-2" href="#about">About</a></li>
  			<li><a class="island-1-2" href="#work">Portfolio</a></li>
  			<li><a class="island-1-2" href="#contact">Contact</a></li>
  		</ul>
  	</nav>

  	<div class="title current logo banner1 img-flex unit xs-1 s-1 m-1-3 l-1-3 pad-t-1-2 pad-b-1-2">
  		<img src="{{site.baseurl}}/img/logo-black.svg">
  	</div>
  </div>

{{content}}

<div class="head-icon pad-b">
    <a href="https://www.facebook.com/deschenesdesign?ref=aymt_homepage_panel"><img class="contactbtns" src="{{site.baseurl}}/img/FB-f-Logo__blue_50.png" alt="Link to my Facebook Page"></a>
    |<a href="https://twitter.com/deschenesdesign"><img class="contactbtns" src="{{site.baseurl}}/img/download.png" alt="Link to my Twitter Page"></a>
    |<a href="https://www.behance.net/DesireeDeschenes"><img class="contactbtns" src="{{site.baseurl}}/img/be-download.png" alt="Link to my Behance Page"></a>
</div>
</body>
<footer>Copyright 2015 by Desiree Deschenes.</footer>
</html>
